# intento de despliegue local con HTTP

# Directorio donde se guardará toda la configuración
CONFIG=~/.jitsi-meet-cfg

# Puerto HTTP expuesto (para evitar conflictos con el puerto 80)
HTTP_PORT=8000

# Puerto HTTPS (definido pero no usado en esta fase)
HTTPS_PORT=8443

# Deshabilitar HTTPS explícitamente
DISABLE_HTTPS=1

# Zona horaria del sistema
TZ=Europe/Madrid

# Dominio a usar (probamos con localhost)
JITSI_DOMAIN=localhost

# URL pública
PUBLIC_URL=http://localhost:8000

# Permitir que usuarios invitados entren sin cuenta
ENABLE_GUESTS=1

# Activar el servicio de grabación
ENABLE_RECORDING=1

# Las contraseñas se dejarían vacías para ser generadas por el script (gen-passwords.sh)
JICOFO_AUTH_PASSWORD=
JVB_AUTH_PASSWORD=
JIBRI_RECORDER_PASSWORD=
JIBRI_XMPP_PASSWORD=